
@{
    ViewData["Title"] = "Index";
    if (ViewBag.Mensaje != null)
    {
        if (ViewBag.TipoMensaje == "ERROR")
        {
            <div class="alert alert-danger" role="alert" style="position: fixed; top: 0; left: 50%; transform: translateX(-50%);">@ViewBag.Mensaje</div>
        }
        else if (ViewBag.TipoMensaje == "EXITO")
        {
            <div class="alert alert-success" role="alert" style="position: fixed; top: 0; left: 50%; transform: translateX(-50%);">@ViewBag.Mensaje</div>
        }

    }
}


<img src="~/images/LogoTeleton.png" class="logoTeletonIndexTotem">
<div class="contenedorIndexTotem container">

<img src="~/images/logoTeletonRecepcion.png" class="imagenTeletonRecepcion row">
    <h1 class="h1Totem row">Bienvenido, Ingrese la cedula del paciente para acceder</h1>

<img src="~/images/cedulaGenerica.png" class="imagenCedulaGenerica row">

<form asp-action="Acceder" asp-controller="Totem" method="post" id="formularioIndexTotem" class="row col-6 justify-content-center align-items-center">

        
        <input name="cedula" id="txtCedulaTotem" class="form-control" type="text" placeholder="Ingrese la cedula aquí" required />
 

    <input class="btn" type="submit" value="Acceder" />
    </form> 

    <div class="tecladoVirtual col-3 row" id="tecladoVirtual">
        <button class="col-8 tecladoNumero" boton="Borrar">Borrar</button>
        <button class="col-4 tecladoNumero" boton="0">0</button>
        <button class="col-4 tecladoNumero" boton="1">1</button>
        <button class="col-4 tecladoNumero" boton="2">2</button>
        <button class="col-4 tecladoNumero" boton="3">3</button>
        <button class="col-4 tecladoNumero" boton="4">4</button>
        <button class="col-4 tecladoNumero" boton="5">5</button>
        <button class="col-4 tecladoNumero" boton="6">6</button>
        <button class="col-4 tecladoNumero" boton="7">7</button>
        <button class="col-4 tecladoNumero" boton="8">8</button>
        <button class="col-4 tecladoNumero" boton="9">9</button>
    </div>

    
    <a href="@Url.Action("CerrarSesion", "Totem")" class="text-black btnCerrarSesionTotem"><i class="fas fa-sign-out-alt"></i></a>
</div>

<script src="~/js/TecladoVirtualNumerico.js"></script>

